html {
  font-size: 12px;
  @media (min-width: 60rem) {
    font-size: 16px;
  }
}
body {
  font-family: $font-primary;
  font-size: 18px;
  font-weight: $weight-primary;
  line-height: $lineHeight-primary;
  margin: 0;
}

strong {
  font-weight: $weight-strong;
}

a {
  color: $brand-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headlines;
  font-weight: $weight-headlines;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.67em;
}

.content {
  font-size: 1.2em;
  max-width: 75ch;
  margin: 0 auto;
  padding: $spacer;
}
