/** Colors */
$brand-primary: #900028;
$border-color: #ccc;
$button-background: #900028;
$button-color: #fff;
$footer-background: #fafafc;
$text-color: #333;
$hero-background: #1f4b69
  radial-gradient(
    132.54% 129.93% at 50% 80%,
    #2b6791 11.61%,
    #1f4b69 24.62%,
    #143043 37.62%,
    #0b1b26 50.42%,
    #050c11 62.93%,
    #010304 74.82%
  );

/** Type  */
$font-primary: 'garamond-premier-pro', serif;
$weight-primary: 400;
$lineHeight-primary: 1.4;
$weight-strong: 600;
$font-headlines: 'oswald', sans-serif;
$weight-headlines: 400;

/** Box Model  */
$container: 90rem;
$spacer: 2rem;

/** Timing */
$timing: cubic-bezier(0.77, 0.2, 0.05, 1);

/** Z-Indexes */
$zHidden: -1;
$zNormal: 0;
$zBanner: 1004;
$z1: 1001;
$z2: 1002;
$z3: 1003;

/** Mixins */
@mixin buttons {
  display: inline-block;
  background: $button-background;
  border-radius: 1em;
  color: $button-color;
  text-decoration: none;
  padding: 0.3rem 2rem;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  }
}

@mixin button-arrow {
  position: relative;
  transition: padding 0.3s 0.1s ease-out;

  svg {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 8px;
    width: 0.8em;
    transform: translateY(-50%) scale(0, 1);
    transform-origin: 0% 50%;
    transition: transform 0.3s 0.1s ease-out;
    position: absolute;
    top: 50%;
    right: 1rem;
  }
  line:nth-child(2) {
    transform-origin: 100% 50%;
    transform: translateY(-3px) rotate(-40deg);
  }

  line:nth-child(3) {
    transform-origin: 100% 50%;
    transform: translateY(2px) rotate(40deg);
  }

  line:nth-child(2),
  line:nth-child(3) {
    transition: transform 0.3s ease-out;
  }
  &:hover,
  &:focus {
    padding-left: 1.5rem;
    padding-right: 2.5rem;
    transition: padding 0.3s ease-out;

    svg {
      margin-left: 0;
      transform: translateY(-50%) scale(1);
      transition: transform 0.3s ease-out;

      line:nth-child(2),
      line:nth-child(3) {
        transform: translateY(0) rotate(0);
        transition: transform 0.3s 0.1s ease-out;
      }
    }
  }
}

@mixin fancyHover(
  $color: $text-color,
  $hover: $primary,
  $easing: $timing
) {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    $hover,
    $hover 50%,
    $color 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  position: relative;
  transition: background-position 0.4s $easing;

  &:after {
    content: '';
    background: $hover;
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    transform: scale(0, 1);
    transform-origin: 0 0;
    transition: transform 0.4s $easing;
  }

  &:hover,
  &:focus {
    background-position: 0;
  }

  &:hover:after,
  &:focus:after {
    transform: scale(1);
  }

  &:focus {
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    background: transparent;
    color: $hover;
  }
  &:focus:after {
    transition: none;
  }
}
